numpy==1.24.2
Flask==2.2.2
SQLAlchemy==2.0.7
pandas_datareader==0.10.0
yfinance==0.2.14
plotly==5.13.1
matplotlib==3.7.1
pandas==1.5.3
psycopg2==2.9.5
gunicorn==20.1.0
Flask-Session==0.4.0
python-dateutil==2.8.2
