{% extends "layout.html" %}

{% block title %}
  Error
{% endblock %}

{% block heading %}
  Sorry, error from our side
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.ibb.co/dQpq5m2/logo.png" border="0" width="30" height="30" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/investment">Investments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/return">Returns</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
            <a class="dropdown-item" href="/about">About Us</a>
            <a class="dropdown-item" href="/feedback">Give Feedback</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <h4>Please try something else</h4>
{% endblock %}
