{% extends "layout.html" %}

{% block title %}
  User Feedback
{% endblock %}

{% block heading %}
  Give Feedback
{% endblock %}

{% block body %}
  <div class="pos-f-t">
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Optimize
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" href="/input/featured">Featured</a>
              <a class="dropdown-item" href="/input/custom">Custom</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/portfolio/investment">Investments</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/portfolio/return">Returns</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
              <a class="dropdown-item" href="/about">About Us</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="desktop-navbar">
    <a class="navbar-brand" href="/">
      <img src="https://i.ibb.co/GFbrDM6/1596273798134.png" border="0" width="30" height="30" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Optimize
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <a class="dropdown-item" href="/input/featured">Featured</a>
            <a class="dropdown-item" href="/input/custom">Custom</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/investment">Investments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/return">Returns</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
            <a class="dropdown-item" href="/about">About Us</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <form action="{{ url_for('feedback') }}" method="post">
    <div class="form-group">
      <label for="feedback">Your Feedback</label><br>
      <textarea rows="5" name="feedback" class="form-control" placeholder="Type Here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
