{% extends "layout.html" %}

{% block title %}
  Optimization Results
{% endblock %}

{% block heading %}
  Portfolio Optimization
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.ibb.co/GFbrDM6/1596273798134.png" border="0" width="30" height="30" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/portfolio/investment">Investments</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/portfolio/return">Returns</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
              <a class="dropdown-item" href="/about">About Us</a>
              <a class="dropdown-item" href="/feedback">Give Feedback</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <h3>Suggested Porfolio Optimizations</h3>
  <h4>High Risk | High Return</h4>
    <p>Aggressive - This portfolio is optimized to give you gains, which will consistently beat the market and generate incredible returns. But be cautious with high returns comes great Risk.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in sharpe_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in sharpe_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = sharpe_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
  <br>
  <h4>Minimum Risk | Alternative to FD</h4>
    <p>Low Risk - This portfolio has been carefully crafted to give you steady returns and minimise the Risk. Even during the toughest of times, this portfolio can hold the fort.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in var_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in var_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = var_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
  <br>
  <h4>Stable Returns {% if markowitz == 'fail' %} (The model doesn't satisfy with the pre decided parameters!) {% endif %}</h4>
    <p>Moderate Growth - It is the go-to the portfolio for most people. As it comprises of a well-balanced risk and returns. Coupled with high diversity to tackle the ups and downs of the market.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in max_return_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in max_return_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = max_return_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
{% endblock %}
