{% extends "layout.html" %}

{% block title %}
  Optimization Results
{% endblock %}

{% block heading %}
  Portfolio Optimization
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.ibb.co/dQpq5m2/logo.png" border="0" width="30" height="30" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/investment">Investments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/return">Returns</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
            <a class="dropdown-item" href="/about">About Us</a>
            <a class="dropdown-item" href="/feedback">Give Feedback</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <h3>Suggested Porfolio Optimizations</h3>
  <h4>Maximum Return | Moderate Risk (Maximum Sharpe Ratio Model)</h4>
    <p>In Sharpe Ratio model we maximize using Monte Carlo simulations to achieve an aggressive portfolio that comprises stocks capable of generating exquisite returns, which will result in an increment of your net worth by a considerable margin, but they also come with significant risk.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in sharpe_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in sharpe_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = sharpe_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
  <br>
  <h4>Moderate Return | Minimum Risk (Minimum Variance Model)</h4>
    <p>In the minimum variance model, we select stocks that generate steady revenue and minimize the portfolio variance to achieve a portfolio that comprises equity, which can hold their own even in the darkest of times.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in var_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in var_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = var_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
  <br>
  <h4>Highly Diversified (Markowitz Model)</h4>
    <p>In this technique, we apply the Markowitz model, which states that we can have a portfolio with variable returns for a fixed variance. As the model speaks for itself, we have carefully selected handpicked stocks using fundamental analysis method to screen those who shined apart from the hundreds of other stocks present in the Indian Stock Indices.<br>
    After selecting those few stocks, we apply the Markowitz model on them by fixing the variance to a set value and optimizing it to achieve the highest returns.</p>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          {% for sym in syms %}
            <th scope="col">{{sym}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weightage</td>
          {% for wt in max_return_wts %}
            <td>{{wt}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Price(INR)</td>
          {% for price in curr_price %}
            <td>{{price}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>Quantity</td>
          {% for unit in max_return_units %}
            <td>{{unit}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <form action="{{url_for('buy_optimized', symbols = syms, curr_price = curr_price, units = max_return_units)}}" method="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Buy</button>
    </form>
{% endblock %}
