{% extends "layout.html" %}

{% block heading %}
  {{curruser}} Portfolio
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href = "/logout">Logout</a>
  <br><br>
  <h3>Total Investment: {{total}} USD</h3>
  {% if net_pl > 0 %}
    <h3>Net Profit : {{net_pl}} USD</h3>
  {% else %}
    <h3>Net Loss : {{net_pl}} USD</h3>
  {% endif %}
  <br><br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Date</th>
        <th scope="col">Symbol</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Current Price</th>
        <th scope="col">Change</th>
        <th scope="col">% Change</th>
        <th scope="col">Currency</th>
        <th scope="col">Make Money</th>
      </tr>
    </thead>
    <tbody>
      {% for i in invs %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i.date}}</td>
          <td>{{symbols[loop.index-1]}}</td>
          <td>{{type[loop.index-1]}}</td>
          <td>{{i.asset}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.curr_price}}</td>
          <td>{{prices[loop.index-1]}}</td>
          <td>{{change[loop.index-1]}}</td>
          <td>{{pchange[loop.index-1]}}</td>
          <td>{{currency[loop.index-1]}}</td>
          <td>
            <form>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Sell</button>
                </div>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
