{% extends "layout.html" %}

{% block heading %}
  Register for SIP
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <form action="{{ url_for('register') }}" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Username">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
