{% extends "layout.html" %}

{% block heading %}
  {{curruser}}'s Returns
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="https://i.ibb.co/dQpq5m2/logo.png" border="0" width="30" height="30" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/input">Optimize</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/portfolio/investment">Investments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  {% if net_pl > 0 %}
    <h3>Net Profit : {{net_pl}} INR</h3>
  {% else %}
    {% set loss = net_pl * -1 %}
    <h3>Net Loss : {{loss}} INR</h3>
  {% endif %}
  <br><br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Date</th>
        <th scope="col">Symbol</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buying Price</th>
        <th scope="col">Selling Price</th>
        <th scope="col">% Change</th>
        <th scope="col">Currency</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rets %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{dates[loop.index-1]}}</td>
          <td>{{symbols[loop.index-1]}}</td>
          <td>{{type[loop.index-1]}}</td>
          <td><a href = "/{{type[loop.index-1]}}/{{r.asset}}/yearly">{{r.asset}}</a></td>
          <td>{{r.quantity}}</td>
          <td>{{r.buy_price}}</td>
          <td>{{r.sell_price}}</td>
          <td>{{pchange[loop.index-1]}}</td>
          <td>{{currency[loop.index-1]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
