{% extends "layout.html" %}

{% block title %}
  {{curruser}} Returns
{% endblock %}

{% block heading %}
  {{curruser}}'s Returns
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.ibb.co/GFbrDM6/1596273798134.png" border="0" width="30" height="30" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Optimize
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/input/featured">Featured</a>
              <a class="dropdown-item" href="/input/custom">Custom</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/portfolio/investment">Investments</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
              <a class="dropdown-item" href="/about">About Us</a>
              <a class="dropdown-item" href="/feedback">Give Feedback</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  {% if net_pl >= 0 %}
    <h3 style="color: green;">Net Profit : {{net_pl}} INR</h3>
  {% else %}
    {% set loss = net_pl * -1 %}
    <h3 style="color: red;">Net Loss : {{loss}} INR</h3>
  {% endif %}
  <br><br>
  <table class="table-hover table table-dark">
    <thead>
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">Buy Date</th>
        <th scope="col">Sell Date</th>
        <th scope="col">Symbol</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buying Price(INR)</th>
        <th scope="col">Selling Price(INR)</th>
        <th scope="col">% Change</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rets %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td scope="row">{{buy_dates[loop.index-1]}}</td>
          <td>{{sell_dates[loop.index-1]}}</td>
          <td>{{symbols[loop.index-1]}}</td>
          <td>{{type[loop.index-1]}}</td>
          <td><a href = "/{{type[loop.index-1]}}/{{r.asset}}/yearly">{{r.asset}}</a></td>
          <td>{{r.quantity}}</td>
          <td>{{r.buy_price}}</td>
          <td>{{r.sell_price}}</td>
          <td>{{pchange[loop.index-1]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
