{% extends "layout.html" %}

{% block title %}
  {{asset}} ({{category}})
{% endblock %}

{% block heading %}
  {{asset}} ({{curr_price}} {{currency}})
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.ibb.co/GFbrDM6/1596273798134.png" border="0" width="30" height="30" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
            {% if show == 'Daily' %}
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/monthly">Monthly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/yearly">Yearly</a>
              </li>
            {% endif %}
            {% if show == 'Monthly' %}
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/daily">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/yearly">Yearly</a>
              </li>
            {% endif %}
            {% if show == 'Yearly' %}
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/monthly">Monthly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/{{category}}/{{asset}}/daily">Daily</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
                <a class="dropdown-item" href="/about">About Us</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <h3 align = "center">{{symbol}} ({{category}})</h3>
  <h4 align = "center">{{show}}</h4>
  <div align = "center">
    <img src = "data:image/png;base64, {{chart}}" class="img-fluid">
  </div>
{% endblock %}
