<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>{{asset}} ({{category}})</title>

    <style type="text/css">
      body {
          overflow-x: hidden;
      }

      .chart{
          text-align: center;
      }
    </style>

    <link rel="icon" href="https://i.ibb.co/GFbrDM6/1596273798134.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
  </head>

  <body style="background-color:black;color:white">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://i.ibb.co/GFbrDM6/1596273798134.png" border="0" width="30" height="30" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
              {% if show == 'Daily' %}
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/monthly">Monthly</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/yearly">Yearly</a>
                </li>
              {% endif %}
              {% if show == 'Monthly' %}
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/daily">Daily</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/yearly">Yearly</a>
                </li>
              {% endif %}
              {% if show == 'Yearly' %}
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/monthly">Monthly</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/{{category}}/{{asset}}/daily">Daily</a>
                </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/tnc">Terms & Conditions</a>
                  <a class="dropdown-item" href="/about">Who Are We</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <h2 align = "center">{{asset}} ({{curr_price}} {{currency}})</h2>
    <h3 align = "center">{{symbol}} ({{category}})</h3>
    <h4 align = "center" id="show" hidden>{{show}}</h4>
    <div id="candlestick" class="chart"></div>
    <div id="timeseries" class="chart"></div>
  </body>

  <script type="text/javascript">
      var graph1 = {{candlestick | safe}};
      var graph2 = {{timeseries | safe}};

      var title1 = "Candlestick Chart";
      var title2 = "Time Series Chart";
      var config = {
        responsive: true,
        displayModeBar: false
      };
      var layout1 = {
        height: 750,
        paper_bgcolor: 'black',
        xaxis: {
          title: {
            text: 'Date'
          }
        },
        yaxis: {
          title: {
            text: 'Price'
          }
        },
        font: {
          size: 15,
          color: 'white'
        },
        title: title1,
        "titlefont": {
          "size": 30,
        }
      };
      var layout2 = {
        height: 700,
        paper_bgcolor: 'black',
        xaxis: {
          title: {
            text: 'Date'
          }
        },
        yaxis: {
          title: {
            text: 'Price'
          }
        },
        font: {
          size: 15,
          color: 'white'
        },
        title: title2,
        "titlefont": {
          "size": 30,
        }
      };
      Plotly.plot('candlestick', graph1, layout1, config);
      Plotly.plot('timeseries', graph2, layout2, config);
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>

</html>
