{% extends "layout.html" %}

{% block heading %}
  {{asset}} ({{curr_price}} {{currency}})
{% endblock %}

{% block body %}
  <div align = "center">
    <a href="/">Home</a>
    {% if show == 'Daily' %}
      <a href="/{{category}}/{{asset}}/monthly">Monthly</a>
      <a href="/{{category}}/{{asset}}/yearly">Yearly</a>
    {% endif %}
    {% if show == 'Monthly' %}
      <a href="/{{category}}/{{asset}}/daily">Daily</a>
      <a href="/{{category}}/{{asset}}/yearly">Yearly</a>
    {% endif %}
    {% if show == 'Yearly' %}
      <a href="/{{category}}/{{asset}}/daily">Daily</a>
      <a href="/{{category}}/{{asset}}/monthly">Monthly</a>
    {% endif %}
  </div>
  <h3 align = "center">{{symbol}} ({{category}})</h3>
  <h4 align = "center">{{show}}</h4>
  <div align = "center">
    <img src = "data:image/png;base64, {{chart}}">
  </div>
{% endblock %}
